.banner-hot-box .center-box4 {
	margin-top: 32px;
	margin-bottom: 32px;
}

.banner-hot-box .center-box4 ul li {
	float: left;
	margin-right: 32px;
	width: 264px;
	height: 110px;
}

.banner-hot-box .center-box4 ul li:last-child {
	margin-right: 0;
}